@use 'mixins/theme' as mixins-theme;
@use 'themes/theme' as themes-theme;
@use 'sass:map';
@use 'sass:color';
@use 'sass:meta';

@include mixins-theme.connectThemes(themes-theme.$themes, 'theme') using ($theme, $themeName) {
  @each $colorType, $colorValue in map.get($theme, 'colors') {
    --#{$colorType}-color: #{$colorValue};

    @if meta.type-of($colorValue) == color {
      --#{$colorType}-color-rgb:
        #{color.channel($colorValue, 'red')}, #{color.channel($colorValue, 'green')},
        #{color.channel($colorValue, 'blue')};
    }
  }
}
