// BG
$bg-primary-color: #0d1117;
$bg-secondary-color: #161b22;
$bg-tertiary-color: #21262d;
$bg-header-color: 22, 27, 34;
$bg-disabled-color: #161b22;
$bg-inverted-color: #c9d1d9;
$bg-accent-overlay-color: #c975de33;
$bg-accent-color: #30213d;
$bg-pressed-color: #c9d1d90d;
$bg-overlay-primary-color: #8b949e36;
$bg-overlay-secondary-color: #586069dc;
$bg-action-hover-color: #db90f5;
$bg-hover-color: #21262d;
$bg-focus-color: #30213d;
$bg-highlight-color: #3e3420;

// BG STATUS
$bg-success-color: #1c3421;
$bg-error-color: #412224;
$bg-warning-color: #3e3420;
$bg-info-color: #223b4e;

// FG
$fg-primary-color: #c9d1d9;
$fg-secondary-color: #8b949e;
$fg-tertiary-color: #586069;
$fg-muted-color: #c9d1d966;
$fg-accent-color: #c975de;
$fg-action-color: #c975de;
$fg-inverted-color: #0d1117;
$fg-disabled-color: #c9d1d94d;
$fg-pressed-color: #c9d1d9;
$fg-highlight-color: #e3b341;

// FG STATUS
$fg-success-color: #56d364;
$fg-error-color: #f85149;
$fg-warning-color: #e3b341;
$fg-info-color: #76e3ea;

// Border
$border-primary-color: #30363d;
$border-secondary-color: #21262d;
$border-accent-color: #db90f5;
$border-disabled-color: #21262d;
$border-button-secondary-color: #32253e;
$border-focus-color: #c975de;
$border-pressed-color: #c975de;

// BORDER STATUS
$border-success-color: #56d364;
$border-error-color: #f85149;
$border-warning-color: #e3b341;
$border-info-color: #76e3ea;
