// BG
$bg-primary-color: #faf4f2;
$bg-secondary-color: #f2edeb;
$bg-tertiary-color: #e0dad9;
$bg-header-color: 242, 237, 235;
$bg-disabled-color: #f2edeb;
$bg-inverted-color: #29242a;
$bg-accent-overlay-color: #e160324d;
$bg-accent-color: #fce9e4;
$bg-pressed-color: #29242a0d;
$bg-overlay-primary-color: #706b6e36;
$bg-overlay-secondary-color: #a59fa0dc;
$bg-action-hover-color: #f37a51;
$bg-hover-color: #ede7e5bf;
$bg-focus-color: #fce9e4;
$bg-highlight-color: #fdf5d7;

// BG STATUS
$bg-success-color: #d4e6d6;
$bg-error-color: #f3d9e0;
$bg-warning-color: #fce9e4;
$bg-info-color: #fdecd7;

// FG
$fg-primary-color: #29242a;
$fg-secondary-color: #706b6e;
$fg-tertiary-color: #a59fa0;
$fg-muted-color: #29242a66;
$fg-accent-color: #e16032;
$fg-action-color: #e16032;
$fg-inverted-color: #faf4f2;
$fg-disabled-color: #29242a4d;
$fg-pressed-color: #29242a;
$fg-highlight-color: #d99f47;

// FG STATUS
$fg-success-color: #269d69;
$fg-error-color: #e14775;
$fg-warning-color: #e16032;
$fg-info-color: #cc7a0a;

// Border
$border-primary-color: #d2cdcb;
$border-secondary-color: #e0dad9;
$border-accent-color: #f37a51;
$border-disabled-color: #e0dad9;
$border-button-secondary-color: #f5d6cb;
$border-focus-color: #e16032;
$border-pressed-color: #e16032;

// BORDER STATUS
$border-success-color: #5bbd8b;
$border-error-color: #e87899;
$border-warning-color: #f37a51;
$border-info-color: #d99f47;
